.git
*~
*.patch
*orig
.idea
__pycache__
2.csv
3.csv
markov_sentence_generator/poetry_generator.py
bin
introspection.py
lib
lib64
patrick_logger.py
social_media.py
text_generator.py
text_handling.py
venv/
text_generator.pyx
